// Colors
$light-orange: snow;
$dark-orange: #cf8c70;
$light-green: #73877b;
$dark-green: #596567;
$almost-black: #182021;

@mixin page-size {
  width: 100vw;
  height: 100vh;
}
@mixin nav-bars {
  display: block;
  flex-grow: 1;
  width: 4rem;
  text-decoration: none;
  text-orientation: mixed;
  writing-mode: vertical-rl;
  text-align: start;
  color: white;
  padding: 10px 0;
  text-transform: uppercase;
}

body{
    background-color: $almost-black;
}

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;

}
.header {
  color: white;
  a {
    @include nav-bars;
  }
}

.home-page {
  background-color: $light-orange;
  flex-grow: 2;
  @include page-size;
  display: flex;
  flex-direction: column;
}

.about-page {
  background-color: $dark-orange;
  flex-grow: 2;
  @include page-size;
}
.projects-page {
  background-color: $light-green;
  color: white;
  flex-grow: 2;
  @include page-size;
}
.skills-page {
  background-color: $dark-green;
  color: white;
  flex-grow: 2;
  @include page-size;
}
.contact-page {
  background-color: $almost-black;
  color: white;
  flex-grow: 2;
  @include page-size;
}
