// Colors
$main-background: snow;
$dark-orange: #cf8c70;
$light-green: #77887e;
$dark-green: #596567;
$almost-black: #182021;

// Mixins
@mixin page-size {
  height: 100vh;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin nav-bars {
  display: block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

// Keyframes
@keyframes footer {
  0% { color: $almost-black }
  50% { color: $main-background }
  100% { color: $almost-black }
}

body {
  background-color: $main-background;
  margin: 0;
  .App {
    text-align: center;
    font-family: "Lato", sans-serif;
    h2 {
      font-family: "Libre Baskerville", serif;
      font-weight: 200;
    }
  }
}

.nav {
  position: fixed;
  right: 0;
  top: 0;
  background-color: transparent;
  .navbar {
    display: flex;
    margin: 0 15px 0 5px;
    a {
      @include nav-bars;
      padding: 10px;
    }
    a:active{
      font-weight: bold;
    }
  }
}

// Main pages

.home-page {
  background-color: $main-background;
  @include page-size;
  display: flex;
  flex-direction: column;
  .home-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-size: 5rem;
      margin: 0;
    }
    h3 {
      font-size: 2rem;
      margin: 0;
    }
  }
}
.about-page {
  background-color: $main-background;
  @include page-size;
  .profile-content {
    display: flex;
    flex-flow: row;
    .profile-image {
      background-color: #596567;
      width: 70vw;
      height: 40vh;
      border-radius: 50% 50% 0% 0%;
      margin-left: 20px;
    }
    .profile-text {
      text-align: start;
      padding: 10px;
    }
  }
}
.projects-page {
  background-color: $main-background;
  @include page-size;
  .project-tiles {
    display: flex;
    justify-content: center;
    .project-tile {
      background-color: #73877b;
      width: 20vw;
      height: 40vh;
      margin: 10px;
    }
  }
}
// .contact-page {
//   background-color: $main-background;
//   @include page-size;
//   a {
//     text-decoration: none;
//     color: black;
//   }
// }


// Footer 

.footer {
  background-color: $almost-black;
  color: white;
  display: flex;
  text-align: start;
  width: 100vw;
  .footer-c1 {
    flex-grow: 1;
    font-size: 40px;
    padding: 0 20px;
    h3{
      margin: 30px;}
  }
  .footer-c2, .footer-c3 {
    flex-grow: 1;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .footer-c4 {
    flex-grow: 1;
    margin: 30px 0;
    p {
      display: flex;
      flex-flow: row wrap;
      font-size: 30px;
      padding: 0 20px;
      width: 150px;
      margin: 0;
    }
    #plan {
      animation: footer 4s linear infinite 0s;
    }
    #create {
      animation: footer 4s linear infinite 1s;
    }
    #refine {
      animation: footer 4s linear infinite 2s;
    }
  }
}

// Project pages

.project-main {
  min-height: 100vw;
}